.reservatin {
  margin: auto;
  width: 320px;
  padding: 15px;
  box-shadow: rgba(153, 153, 153, 0.4) 0px 2px 8px 0px;
  font-family: 'Josefin Sans', sans-serif;
}

.find-table-button {
  width: 100%;
  height: 50px;
  padding-top: 5px;
  background-color: rgb(218, 55,67);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px
}

.find-table-button:focus {
  outline: none;
}

.response-box {
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  color: darkslategrey;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px
}

.bookings-today {
  margin-bottom: 5px;
}

#reservation input {
  border: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

#reservatin input:hover {
  border-bottom: 2px solid rgb(218, 55,67);
}

#reservation input:focus {
  outline: none;
}

#reservation select {
  border: 0px;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px
}

#reservation select:hover {
  border-bottom: 2px solid rgb(218, 55,67)!;
}

#reservation select:focus {
  outline: none;
}

#aftermapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 500px;
  width: 320px;
  padding: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.below-mapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 224px;
  width: 320px;
  padding: 15px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  color: rgb(218, 55,67);
}

.streetBox {
  width: 318px;
  height: 45px;
  margin-left: -2px;
  width:320px;
  border: solid 2px lightGrey;
}